@model StudentskiDomASPNET.Models.Majstor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Majstor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankovniRacun)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankovniRacun)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jmbg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jmbg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MajstorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
