@model IEnumerable<StudentskiDomASPNET.Models.Kuhar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankovniRacun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jmbg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Plata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankovniRacun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumRodjenja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jmbg)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KuharId }) |
            @Html.ActionLink("Details", "Details", new { id=item.KuharId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KuharId })
        </td>
    </tr>
}

</table>
